<!-- Header 2 - Left logo, right text -->
<table data-section-wrapper="1" cellpadding="0" cellspacing="0" border="0"
    style="margin: 0; padding: 0; text-align: left; width: 100%; max-width: 600px;  line-height: 100%;"
    role="presentation" class="background-table has-width-600" valign="top">
    <tr>
        <td valign="top">
            <table data-section="1" cellpadding="0" cellspacing="0" border="0" style="margin:0 auto" role="presentation"
                class="email-content" align="center">
                <tr>
                    <td data-slot-container="1" valign="top" style="padding: 20px 20px 0; text-align: left;"
                        class="mmt-pad-lg" align="left">
                        <div data-slot="text">
                            <table cellpadding="0" cellspacing="0" border="0" width="100%" style="min-width:100%"
                                role="presentation">
                                <tr>
                                    <td valign="middle"
                                        style="mso-line-height-rule: exactly; text-align:left; font-family: 'Montserrat', sans-serif;font-size:15px;line-height:1.5;font-weight:400;color:#3c3c3c"
                                        class="mobile-text-left">
                                        <h2
                                            style="font-family:'Montserrat', sans-serif; font-size: 28px; font-weight:normal;line-height:40px;margin:0;">
                                            Hi <span style="font-weight: 600;">{{name}}</span>
                                        </h2>
                                        <p style="margin-bottom: 36px;"> We have registered you successfully as a Job Seeker.</p>
                                        <p style="margin-bottom: 0px;">Regards,</p>
                                        <p style="margin-bottom:36px;margin-top:0px;">TTN Support Team</p>
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            </te>
    </tr>
</table>